body{
	margin: 0;
	width: 100%;
}

div.page-container{
	width: 100%;
}

div.body-container{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
/* ===== HEADER ===== */

div.header{
	margin-left: auto;
	margin-right: auto;
}

div.header h1{
	color: #222;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 16px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
}

div.header h2{
	text-align: center;
	color: #222;
	margin-top: 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

/* ----- NAVBAR ----- */
div.header div.nav-bar{
	width: 300px;
	position: relative;
	left: -15px;
}

@media (min-width: 768px) {
  div.header div.nav-bar{
  	top: -30px;
  }
}

div.header div.nav-bar ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

div.header div.nav-bar ul li{
	display: inline;
	float: left;
}

div.header div.nav-bar ul li a{
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

div.header div.nav-bar ul li a#home{
	color: #00b3d5;
}

div.header div.nav-bar ul li a#about{
	color: #8c20ba;
}

div.header div.nav-bar ul li a#events{
	color: #ffa600;
}

div.header div.nav-bar ul li a#blog{
	color: #000;
}

div.header div.nav-bar ul li a.active{
	color: #fff !important;
}

div.header div.nav-bar ul li a.active:hover{
	text-decoration: none;
}

div.header div.nav-bar ul li a.active#home{
	background-color: #00b3d5;
}

div.header div.nav-bar ul li a.active#about{
	background-color: #8c20ba;
}

div.header div.nav-bar ul li a.active#events{
	background-color: #ffa600;
}

div.header div.nav-bar ul li a.active#blog{
	background-color: #000;
}

/* ===== BODY-CONTENT ===== */
div.body-content{
	width: 100%;
	position: relative;
}


@media (max-width: 768px) {
  div.body-content{
  	top: -1px;
  }
}
@media (min-width: 768px) {
  div.body-content{
  	top: -30px;
  }
}



div.body-content div.col-md-12{
	padding: 0;
}


div.body-content div.top-image{
	background: url("../img/home-img2.jpg");
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
}

div.body-content div.top-image h1{
	color: #fff;
	text-align: center;
	text-indent: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 45px;
	line-height: 60px;
	margin-top: 70px;

	text-shadow: -2px 2px 2px rgba(0,0,0,.4);
}

div.body-content div.metro-items{
	width: 100%;
	height: 300px;
	padding: 0;
	margin: 0;
}

div.body-content div.metro-items div.row div.col-md-4{
	margin: 0;
	padding: 0;
}

/* ===== METRO-BLOCKS ===== */
a.metro-block{
	display: block;
	width: 100%;
	height: 250px;
	color: #fff;
}

a.metro-block:hover{
	text-decoration: none;
	color: #fff;
}

a.metro-block:hover h1{
	padding-top: 50px;
}

a.metro-block h1{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 20px;
	padding-top: 160px;
	padding-bottom: 10px;
	transition: padding-top .3s;
}

a.metro-block p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 20px;	
	font-size: 18px;
	margin-left: 1px;
}

a.metro-block p.hidden-text{
	margin-top: 60px;
}

a.metro-block.blue{
	background-color: #00b3d5;
}

a.metro-block.purple{
	background-color: #8c20ba;
}

a.metro-block.orange{
	background-color: #ffb200;
}